# PostgreSQL Configuration
DSN=postgres://hack:secretpass@db:5432/hack_db?sslmode=disable

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

# Application Settings
APP_PORT=8080
APP_HOST=0.0.0.0

# JWT
JWT_SECRET=secret
